.appLayout {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--Schemes-Surface);
    min-height: 100dvh;
    max-width: var(--PAGE-Prop-Page-Content-max-width);
    margin: 0 auto;
}

.contentContainerLayout {
    flex: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

:global(body.size-and-spacing-md) .appLayout,
:global(body.size-and-spacing-sm) .appLayout {
    flex-direction: column;
}

.mainLayout {
    flex: inherit;
}